@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .nav-height {
    @apply h-[calc(100vh-60px)];
  }

  .btn {
    @apply bg-blue hover:bg-transparent my-5 px-5 py-2 border hover:border border-transparent hover:border-blue rounded-3xl hover:text-blue;
  }

  .color-container {
    @apply flex justify-center items-center bg-gray-300 backdrop-blur px-4 py-4 rounded-full;
  }

  .size-btn-container {
    @apply flex justify-center items-center gap-1 bg-gray-300 backdrop-blur ml-3 p-1 rounded-full;
  }

  .size-btn {
    @apply flex justify-center items-center bg-white rounded-full w-10 h-10 text-black text-sm transition-all;
  }

  .common-padding {
    @apply px-5 sm:px-10 py-20 sm:py-32;
  }

  .section-heading {
    @apply opacity-0 mb-5 lg:mb-0 font-medium text-gray text-3xl md:text-5xl lg:text-6xl translate-y-20;
  }

  .feature-text {
    @apply opacity-0 max-w-md font-semibold text-gray text-lg md:text-xl translate-y-[100px];
  }

  .feature-text-container {
    @apply md:flex-row flex-col flex-center gap-5 mt-10 md:mt-16 w-full;
  }

  .feature-video {
    @apply opacity-0 w-full h-full object-center object-cover scale-150;
  }

  .feature-video-container {
    @apply flex md:flex-row flex-col items-center gap-5 w-full;
  }

  .link {
    @apply flex items-center opacity-0 text-blue text-xl hover:underline translate-y-20 cursor-pointer;
  }

  .control-btn {
    @apply flex-center bg-gray-300 backdrop-blur ml-4 p-4 rounded-full;
  }

  .hero-title {
    @apply opacity-0 max-md:mb-10 font-semibold text-gray-100 text-3xl text-center;
  }

  .hiw-title {
    @apply font-semibold text-4xl md:text-7xl text-center;
  }

  .hiw-subtitle {
    @apply py-10 font-semibold text-gray text-xl md:text-2xl text-center;
  }

  .hiw-video {
    @apply absolute rounded-[56px] w-[95%] h-[90%] overflow-hidden;
  }

  .hiw-text-container {
    @apply flex md:flex-row flex-col justify-between items-start gap-24;
  }

  .hiw-text {
    @apply font-normal md:font-semibold text-gray text-xl;
  }

  .hiw-bigtext {
    @apply my-2 font-normal md:font-semibold text-white text-3xl md:text-5xl;
  }

  .video-carousel_container {
    @apply relative w-[88vw] sm:w-[70vw] h-[35vh] sm:h-[50vh] md:h-[70vh];
  }

  .g_fadeIn {
    @apply opacity-0 translate-y-[100px];
  }
}
